<h1><%= @profile.username %></h1>
<% if @profile == current_user %>
  <%= link_to "Edit profile", edit_profile_path(@profile.username) %>
<% end %>

<div class="user-info">
  <% if @profile.location %>
    <h4>Currently at: </h4>
    <p><%= @profile.location %></p>
  <% end %>
  <% if @profile.about_me %>
    <h4>About me:</h4>
    <p><%= @profile.about_me %></p>
  <% end %>
</div>

<% if @friendable %>
  <%= link_to "Send friend request",
    friendships_path(id: current_user, receiver: @profile),
    data: {
      turbo_method: :post
    } %>
<% end %>



<div class="user-posts">
  <% if @profile.posts.any? %>
    <h3><%= @profile.username %>'s posts</h3>
    <ul>
      <% @profile.posts.each do |post| %>
        <li>
          <%= link_to post.content, post %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Nothing here to see... yet!</p>
  <% end %>
</div>

<div class="user-friends">
  <% if @friendships.any? %>
    <h3><%= @profile.username %>'s friends</h3>
    <ul>
      <% @friendships.each do |friendship| %>
        <li>
          <% if @profile == friendship.receiver %>
            <% friend_name = friendship.sender.username %>
          <% else %>
            <% friend_name = friendship.receiver.username %>
          <% end %>
          <%= link_to friend_name, friend_name %>

          <% if @profile == current_user %>
            <%= link_to "Remove friend", friendship_path(friendship), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure you want to remove #{friend_name} as a friend?"
            } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>