<h1><%= @profile.username %></h1>

<%= link_to "Homepage", root_path %>

<% if @friendable %>
  <%= link_to "Send friend request",
    friendships_path(id: current_user, receiver: @profile),
    data: {
      turbo_method: :post
    } %>
<% end %>

<% if @profile == current_user %>
  <% if @pending_friend_requests.any? %>
    <div class="pending-requests">
    <h3>Pending friend requests</h3>
    <ol>
      <% @pending_friend_requests.each do |request| %>
        <li>
          <%= request.sender.username %>
          <%= link_to "Accept", friendship_path(request, status: :accept), data: {
              turbo_method: :patch } %>
          <%= link_to "Ignore", friendship_path(request, status: :ignore), data: {
              turbo_method: :patch } %>
        </li>
      <% end %>
    </ol>
    </div>
  <% end %>
  <% if @sent_friend_requests.any? %>
    <div class="sent-requests">
      <h3>Sent requests</h3>
      <ol>
        <% @sent_friend_requests.each do |request| %>
          <li>
            <%= request.receiver.username %>
            <%= link_to "Cancel", friendship_path(request), data: {
              turbo_method: :delete } %>
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
<% end %>

<div class="user-posts">
  <% if @profile.posts.any? %>
    <h3><%= @profile.username %>'s posts</h3>
    <ul>
      <% @profile.posts.each do |post| %>
        <li>
          <%= link_to post.content, post %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Nothing here to see... yet!</p>
  <% end %>
</div>

<div class="user-friends">
  <% if @friendships.any? %>
    <h3><%= @profile.username %>'s friends</h3>
    <ul>
      <% @friendships.each do |friendship| %>
        <li>
          <% if @profile == friendship.receiver %>
            <% friend_name = friendship.sender.username %>
          <% else %>
            <% friend_name = friendship.receiver.username %>
          <% end %>
          <%= link_to friend_name, friend_name %>

          <% if @profile == current_user %>
            <%= link_to "Remove friend", friendship_path(friendship), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure you want to remove #{friend_name} as a friend?"
            } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>