<div class="post-preview">
  
  <%= link_to profile_path(username: post.creator.username) do %>
    <%= render "profiles/avatar_small", user: post.creator %>
    <%= post.creator.username %>
  <% end %>
  - 
  <%= render "shared/time_ago", item: post %>
  <br>
  <%= link_to post do %>
    <% if post.content.present? %>
      <p><%= post.content %></p>
    <% end %>

    <% if post.photos.attached? %>
      <% post.photos.each do |photo| %>
        <%= image_tag photo.variant(:medium), class: "medium-photo" %>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <%= render "likes/like_count", likable: post %>
</div>