<div class="avatar-time-stamp">
  <%= render "profiles/avatar_small_username", user: post.creator %>
  <%= render "shared/time_ago", item: post %>
</div>
<%= link_to post, class: "post-preview" do %>
  <div class="post-preview-content">
    <% if post.content.present? %>
      <p class="post-preview-text"><%= post.content %></p>
    <% end %>
    <% if post.photos.attached? %>
      <% post.photos.each do |photo| %>
        <%= image_tag photo.variant(:medium), class: "medium-photo" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="post-interactions">
  <%= render "likes/like_count", likable: post %>
  <%= render "comments/comment_count", commentable: post %>
</div>
