<div class="post-preview">
  <%= render "profiles/avatar", user: post.creator %>
  <%= link_to post.creator.username, profile_path(username: post.creator.username) %>
  - 
  <%= render "shared/time_ago", item: post %>
  <br>
  <%= link_to post do %>
    <% if post.content %>
      <p><%= post.content %></p>
    <% end %>

    <% if post.photos.attached? %>
      <% post.photos.each do |photo| %>
        <%= image_tag photo.variant(:medium), class: "medium-photo" %>
      <% end %>
    <% end %>
  <% end %>
  <br>
  <%= render "likes/like_count", likable: post %>
</div>