<h2>Posts</h2>

<%= link_to "Create a post", new_post_path %>

<% if @posts.any? %>
  <ul>
    <% @posts.each do |post|%>
      <li>
        <div class="post">
          <%= link_to post.creator.username, profile_path(username: post.creator.username) %>
          - 
          <% time_diff = Time.now - post.created_at %>
          <% if time_diff / (60 * 60) > 24 %>
            <%= post.created_at.strftime("%b %-e, %Y") %>
          <% elsif time_diff / (60 * 60) > 1 %>
            <%= pluralize((time_diff / (60 * 60)).round, "hour") + " ago" %>
          <% else %>
            <%= pluralize((time_diff / (60)).round, "minute") + " ago" %>
          <% end %>
          <br>
          <%= link_to post.content, post %>
          <br>
          <%= render "likes/like_count", likable: post %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Nothing to see here... yet!</p>
<% end %>