<% creator_username = @post.creator.username %>
<h1>Post by <%= link_to creator_username, profile_path(creator_username) %></h1>

<p><%= @post.content %></p>
<div>
  <%= render "likes/like_count", likable: @post %>
  <br>
  <% if @post.creator == current_user %>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure you want to delete this post?"
    } %>
  <% end %>

  <%= render "comments/comment_form_commentable", commentable: @post %>
  <%= render "comments/comments_list", commentable: @post %>
</div>
